/* imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* styles */
:root {
    --font-size-menu: 30px;
    --middle-yellow: #fee92bff;
    --orange-red-crayola: rgb(255, 122, 122);
    --blue-ncs: #0d89b0ff;
    --flame: #dc602eff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: url("../images/background.svg");
    background-size: cover;
    text-decoration: none;
}

.max-width {
    width: 1300px;
    margin: 0 auto;
}

/* social icons */

.social-container {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.social-container .social-icon {
    color: lightgray;
    font-size: 35px;
    transition: all 0.3s ease;
}

.social-container .social-icon:hover {
    color: var(--middle-yellow);
    transform: scale(1.2);
}

/* go Top Button */
.goTopBtn{
    opacity: 0;
    position: fixed;
    bottom: 10px;
    right: 20px;
    transition: all 0.3s ease;
    z-index: 999;
}

.sticky{
    opacity: 1;
}

.goTopBtn i{
    font-size: 50px;
    color: var(--middle-yellow);
    transition: all 0.3s ease;
}

.goTopBtn:hover i{
    color: var(--orange-red-crayola);
    cursor: pointer;
}

/*------------------------------------- navbar -------------------------------------------*/
.navbar .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 150px;
}

.navbar .logo {
    width: 250px;
    margin: 15px 30px;
}

.navbar .logo img {
    width: 100%;
    height: 100%;
}

.navbar .menu-container {
    width: 70%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .menu-container ul {
    list-style: none;
}

.navbar .menu-container ul li {
    display: inline-block;
    margin: 0 20px;
}

.navbar .menu-container ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: var(--font-size-menu);
    transition: all 0.3s ease;
}

.navbar .menu-container ul li a:hover {
    color: var(--orange-red-crayola);
}

/*---------------------------------------- home section ----------------------------------------*/

.home {
    width: 100%;
    height: calc(100vh - 150px);
}

.home .max-width {
    height: 100%;
}

.home .home-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.home .home-content .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 30px;
}

.home .home-content .column-left .home-title {
    font-size: 80px;
    font-weight: 700;
    width: 100%;
    text-shadow: 3px 3px var(--orange-red-crayola);
    padding: 10px 0;
    color: var(--middle-yellow);
    text-align: center;
    margin-top: 30px;
    font-family: "Lobster", cursive;
}

.home .home-content .column-left .home-title span {
    font-family: "Lobster", cursive;
    letter-spacing: 10px;
}

.home .home-content .column-left .home-title span span {
    display: inline-block;
    margin-left: -35px;
}

.home .home-content .column-left:hover .home-title {
    animation: shake 0.5s linear;
    animation-iteration-count: 3;
}

.home .home-content .column-left p {
    width: 73%;
    text-shadow: 2px 2px var(--orange-red-crayola);
    text-indent: 25px;
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
    color: var(--middle-yellow);
    padding-top: 30px;
    line-height: 35px;
}

.home .home-content .column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: rotateZ(8deg);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease;
}

.home .home-content .column-right img {
    width: 100%;
    backface-visibility: hidden;
    transition: all 0.5s ease;
}
.home .home-content .column-right:hover {
    transform: scale(1.05) rotateZ(8deg);
    backface-visibility: hidden;
}

/* ------------------------------- about section -------------------------------------- */

.about .max-width .about-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about .max-width .about-content .about-us {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 0) 10%,
        var(--middle-yellow) 15%,
        var(--middle-yellow) 40%,
        rgb(87, 255, 247) 60%,
        rgba(0, 0, 0, 0) 100%
    );
    margin-bottom: 100px;
}

.about .about-content .about-us .img-wrapper {
    position: absolute;
    left: 0;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 15px solid var(--middle-yellow);
    background: black;
    overflow: hidden;
}

.about .about-content .about-us .img-wrapper img {
    position: absolute;
    height: 350px;
    left: -45px;
}

.about .max-width .about-content .about-us .about-us-desc {
    width: 70%;
}

.about .max-width .about-content .about-us .about-us-desc .about-us-title {
    font-size: 50px;
    color: var(--orange-red-crayola);
}

.about .max-width .about-content .about-us .about-us-desc p {
    font-size: 16px;
    color: black;
}

.about .max-width .about-content .about-tea {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 0) 10%,
        var(--middle-yellow) 15%,
        var(--middle-yellow) 40%,
        rgb(87, 255, 247) 60%,
        rgba(0, 0, 0, 0) 100%
    );
}

.about .about-content .about-tea .img-wrapper {
    position: absolute;
    right: 0;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 15px solid var(--middle-yellow);
    background: black;
    overflow: hidden;
}

.about .about-content .about-tea .img-wrapper img {
    position: absolute;
    width: 350px;
    top: -120px;
}

.about .max-width .about-content .about-tea .about-tea-desc {
    width: 70%;
}

.about .max-width .about-content .about-tea .about-tea-desc .about-tea-title {
    text-align: end;
    font-size: 50px;
    color: var(--orange-red-crayola);
}

/*-------------------------------- Contact Section ------------------------------------------- */

.contact .max-width .contact-content {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.contact .max-width .contact-content .column-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .max-width .contact-content .column-left h2 {
    text-align: center;
    color: var(--middle-yellow);
    font-size: 50px;
    text-shadow: 1px 1px var(--orange-red-crayola);
    margin-bottom: 30px;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

.contact .max-width .contact-content .column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.contact .max-width .contact-content .column-right h2 {
    text-align: center;
    font-size: 50px;
    color: var(--middle-yellow);
    text-shadow: 1px 1px var(--orange-red-crayola);
    margin-bottom: 30px;
    padding-bottom: 135px;
}

.contact .max-width .contact-content .column-right .icons {
    display: flex;
    flex-direction: column;
}

.contact .max-width .contact-content .column-right .icons .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.contact .max-width .contact-content .column-right .icons .row i {
    font-size: 40px;
    margin-right: 20px;
    color: var(--middle-yellow);
}

.contact .max-width .contact-content .column-right .icons .row .info .head {
    font-size: 25px;
    font-weight: 600;
    color: var(--middle-yellow);
    text-shadow: 1px px var(--orange-red-crayola);
}

.contact .max-width .contact-content .column-right .icons .row .info .subtitle {
    font-size: 20px;
    color: var(--orange-red-crayola);
    text-shadow: 1px 1px var(--middle-yellow);
}

/* ********************************* RESPONSIVE ******************************************** */

@media (max-width: 1350px) {
    .max-width {
        width: 1000px;
    }

    .social-container {
        width: 130px;
    }

    .social-container .social-icon {
        font-size: 30px;
    }

    .navbar .menu-container ul li a {
        font-size: calc(var(--font-size-menu) - 3px);
    }

    .home .home-content .column-left {
        width: 50%;
    }

    .home .home-content .column-left .home-title {
        font-size: 60px;
    }

    .home .home-content .column-left p {
        font-size: 16px;
    }

    .home .home-content .column-right {
        width: 45%;
    }

    .about .max-width .about-content .about-us {
        height: 200px;
    }

    .about .about-content .about-us .img-wrapper {
        height: 250px;
        width: 250px;
        border: 10px solid var(--middle-yellow);
    }

    .about .about-content .about-us .img-wrapper img {
        height: 250px;
        left: -35px;
    }

    .about .max-width .about-content .about-us .about-us-desc .about-us-title {
        font-size: 40px;
    }

    .about .max-width .about-content .about-us .about-us-desc p {
        font-size: 14px;
    }

    .about .max-width .about-content .about-tea {
        height: 200px;
    }

    .about .about-content .about-tea .img-wrapper {
        height: 250px;
        width: 250px;
        border: 10px solid var(--middle-yellow);
    }

    .about .about-content .about-tea .img-wrapper img {
        width: 250px;
        top: -85px;
    }

    .about
        .max-width
        .about-content
        .about-tea
        .about-tea-desc
        .about-tea-title {
        font-size: 40px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc p {
        font-size: 14px;
    }

    .contact .max-width .contact-content .column-left h2 {
        font-size: 45px;
    }

    #map {
        height: 370px;
    }

    .contact .max-width .contact-content .column-right h2 {
        font-size: 45px;
        padding-bottom: 125px;
    }

    .contact .max-width .contact-content .column-right .icons .row i {
        font-size: 35px;
    }

    .contact .max-width .contact-content .column-right .icons .row .info .head {
        font-size: 23px;
    }

    .contact
        .max-width
        .contact-content
        .column-right
        .icons
        .row
        .info
        .subtitle {
        font-size: 19px;
    }
}

@media (max-width: 1080px) {
    .max-width {
        width: 800px;
    }

    .about .max-width .about-content .about-us .about-us-desc {
        width: 65%;
    }

    .about .max-width .about-content .about-tea .about-tea-desc {
        width: 65%;
    }

    .contact .max-width .contact-content .column-left h2 {
        font-size: 40px;
    }

    #map {
        height: 280px;
    }

    .contact .max-width .contact-content .column-right h2 {
        font-size: 40px;
        padding-bottom: 35px;
    }

    .contact .max-width .contact-content .column-right .icons .row i {
        font-size: 30px;
    }

    .contact .max-width .contact-content .column-right .icons .row .info .head {
        font-size: 20px;
    }

    .contact
        .max-width
        .contact-content
        .column-right
        .icons
        .row
        .info
        .subtitle {
        font-size: 17px;
    }
}

@media (max-width: 865px) {
    .max-width {
        width: 650px;
    }

    .social-container {
        width: 100px;
    }

    .social-container .social-icon {
        font-size: 25px;
    }

    .navbar .menu-container ul li a {
        font-size: calc(var(--font-size-menu) - 8px);
    }

    .home .home-content .column-left {
        width: 60%;
    }

    .home .home-content .column-left .home-title {
        font-size: 50px;
    }

    .home .home-content .column-left .home-title span {
        font-family: "Lobster", cursive;
        letter-spacing: 8px;
    }

    .home .home-content .column-left .home-title span span {
        display: inline-block;
        margin-left: -25px;
    }

    .home .home-content .column-left p {
        font-size: 14px;
    }

    .home .home-content .column-right {
        width: 40%;
    }

    .about .max-width .about-content .about-us {
        height: 160px;
    }

    .about .about-content .about-us .img-wrapper {
        height: 200px;
        width: 200px;
        border: 8px solid var(--middle-yellow);
    }

    .about .about-content .about-us .img-wrapper img {
        height: 200px;
        left: -25px;
    }

    .about .max-width .about-content .about-us .about-us-desc .about-us-title {
        font-size: 30px;
    }

    .about .max-width .about-content .about-us .about-us-desc p {
        font-size: 13px;
    }

    .about .max-width .about-content .about-tea {
        height: 160px;
    }

    .about .about-content .about-tea .img-wrapper {
        height: 200px;
        width: 200px;
        border: 8px solid var(--middle-yellow);
    }

    .about .about-content .about-tea .img-wrapper img {
        width: 200px;
        top: -65px;
    }

    .about
        .max-width
        .about-content
        .about-tea
        .about-tea-desc
        .about-tea-title {
        font-size: 30px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc p {
        font-size: 13px;
    }

    .contact .max-width .contact-content .column-left h2 {
        font-size: 35px;
    }

    #map {
        height: 230px;
    }

    .contact .max-width .contact-content .column-right h2 {
        font-size: 35px;
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    .contact .max-width .contact-content .column-right .icons .row i {
        font-size: 30px;
    }

    .contact .max-width .contact-content .column-right .icons .row .info .head {
        font-size: 20px;
    }

    .contact
        .max-width
        .contact-content
        .column-right
        .icons
        .row
        .info
        .subtitle {
        font-size: 17px;
    }
}

@media (max-width: 700px) {
    .max-width {
        width: 550px;
    }

    .goTopBtn i{
        font-size: 40px;
    }

    .navbar .menu-container ul li a {
        font-size: calc(var(--font-size-menu) - 9px);
    }

    .home .home-content .column-left .home-title {
        font-size: 40px;
    }

    .home .home-content .column-left p {
        font-size: 12px;
        line-height: 25px;
    }

    .about .max-width .about-content .about-us .about-us-desc {
        width: 63%;
    }

    .about .max-width .about-content .about-us .about-us-desc .about-us-title {
        font-size: 25px;
    }

    .about .max-width .about-content .about-us .about-us-desc p {
        font-size: 11px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc {
        width: 63%;
    }

    .about
        .max-width
        .about-content
        .about-tea
        .about-tea-desc
        .about-tea-title {
        font-size: 25px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc p {
        font-size: 11px;
    }

    .contact .max-width .contact-content {
        display: flex;
        flex-direction: column;
    }

    .contact .max-width .contact-content .column-left {
        width: 100%;
        margin-bottom: 20px;
    }

    #map {
        width: 70%;
        height: 400px;
    }

    .contact .max-width .contact-content .column-right {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact .max-width .contact-content .column-right .icons .row i {
        font-size: 30px;
    }

    .contact .max-width .contact-content .column-right .icons .row .info .head {
        font-size: 20px;
    }

    .contact
        .max-width
        .contact-content
        .column-right
        .icons
        .row
        .info
        .subtitle {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .max-width {
        width: 440px;
    }

    .social-container {
        width: 70px;
    }

    .social-container .social-icon {
        font-size: 18px;
    }

    .navbar .logo {
        width: 190px;
        margin: 0 0;
    }

    .navbar .menu-container ul li {
        margin: 0 5px;
    }

    .navbar .menu-container ul li a {
        font-size: calc(var(--font-size-menu) - 13px);
    }

    .navbar .menu-container ul li a::before {
        display: none;
    }

    .home .home-content .column-left .home-title {
        font-size: 30px;
        padding-bottom: 0px;
    }

    .home .home-content .column-left p {
        font-size: 10px;
        line-height: 20px;
    }

    .home .home-content .column-left .home-title span {
        font-family: "Lobster", cursive;
        letter-spacing: 6px;
    }

    .home .home-content .column-left .home-title span span {
        display: inline-block;
        margin-left: -16px;
    }

    .about .max-width .about-content .about-us {
        height: 135px;
    }

    .about .about-content .about-us .img-wrapper {
        height: 170px;
        width: 170px;
        border: 7px solid var(--middle-yellow);
    }

    .about .about-content .about-us .img-wrapper img {
        height: 170px;
        left: -20px;
    }

    .about .max-width .about-content .about-us .about-us-desc {
        width: 52%;
    }

    .about .max-width .about-content .about-us .about-us-desc .about-us-title {
        font-size: 20px;
    }

    .about .max-width .about-content .about-us .about-us-desc p {
        font-size: 8px;
    }

    .about .max-width .about-content .about-tea {
        height: 135px;
    }

    .about .about-content .about-tea .img-wrapper {
        height: 170px;
        width: 170px;
        border: 7px solid var(--middle-yellow);
    }

    .about .about-content .about-tea .img-wrapper img {
        width: 170px;
        top: -55px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc {
        width: 55%;
    }

    .about
        .max-width
        .about-content
        .about-tea
        .about-tea-desc
        .about-tea-title {
        font-size: 20px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc p {
        font-size: 8px;
    }

    .contact .max-width .contact-content {
        display: flex;
        flex-direction: column;
    }

    .contact .max-width .contact-content .column-left {
        width: 100%;
        height: 50%;
    }

    .contact .max-width .contact-content .column-left h2 {
        font-size: 30px;
    }

    #map {
        width: 70%;
        height: 300px;
    }

    .contact .max-width .contact-content .column-right {
        width: 100%;
        height: 50%;
        /* background: red; */
    }

    .contact .max-width .contact-content .column-right h2 {
        font-size: 30px;
    }

    .contact .max-width .contact-content .column-right .icons .row i {
        font-size: 30px;
    }

    .contact .max-width .contact-content .column-right .icons .row .info .head {
        font-size: 20px;
    }

    .contact
        .max-width
        .contact-content
        .column-right
        .icons
        .row
        .info
        .subtitle {
        font-size: 17px;
    }
}

@media (max-width: 480px) {
    .max-width {
        width: 320px;
    }

    .goTopBtn i{
        font-size: 35px;
    }

    .navbar .max-width {
        height: 80px;
    }

    .navbar .menu-container ul li {
        margin: 0 2px;
    }

    .navbar .menu-container ul li a {
        font-size: calc(var(--font-size-menu) - 16px);
    }

    .home .home-content .column-left .home-title {
        font-size: 29px;
    }

    .home .home-content .column-left p {
        font-size: 11px;
        line-height: normal;
    }

    .about .about-content .about-us .img-wrapper {
        height: 130px;
        width: 130px;
        border: 6px solid var(--middle-yellow);
    }

    .about .max-width .about-content .about-us {
        height: 110px;
    }

    .about .about-content .about-us .img-wrapper img {
        height: 130px;
        left: -14px;
    }

    .about .max-width .about-content .about-us .about-us-desc {
        width: 59%;
    }

    .about .max-width .about-content .about-us .about-us-desc .about-us-title {
        font-size: 18px;
    }

    .about .max-width .about-content .about-us .about-us-desc p {
        font-size: 8px;
    }

    .about .about-content .about-tea .img-wrapper {
        height: 130px;
        width: 130px;
        border: 6px solid var(--middle-yellow);
    }

    .about .max-width .about-content .about-tea {
        height: 110px;
    }

    .about .about-content .about-tea .img-wrapper img {
        width: 130px;
        top: -43px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc {
        width: 59%;
    }

    .about
        .max-width
        .about-content
        .about-tea
        .about-tea-desc
        .about-tea-title {
        font-size: 18px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc p {
        font-size: 8px;
    }

    .contact .max-width .contact-content .column-left h2 {
        font-size: 25px;
    }

    #map {
        width: 70%;
        height: 280px;
    }

    .contact .max-width .contact-content .column-right h2 {
        font-size: 25px;
    }

    .contact .max-width .contact-content .column-right .icons .row i {
        font-size: 25px;
    }

    .contact .max-width .contact-content .column-right .icons .row .info .head {
        font-size: 18px;
    }

    .contact
        .max-width
        .contact-content
        .column-right
        .icons
        .row
        .info
        .subtitle {
        font-size: 15px;
    }
}

@media (max-width: 355px) {
    .max-width {
        width: 280px;
    }

    .goTopBtn i{
        font-size: 30px;
    }

    .social-container {
        width: 65px;
    }

    .social-container .social-icon {
        font-size: 16px;
    }

    .social-container .social-icon:hover {
        color: var(--middle-yellow);
        transform: scale(1.2);
    }

    .home .home-content .column-left .home-title {
        font-size: 20px;
    }

    .home .home-content .column-left p {
        font-size: 9px;
        line-height: normal;
        text-indent: 10px;
    }

    .about .max-width .about-content .about-us .about-us-desc {
        width: 53%;
    }

    .about .max-width .about-content .about-us .about-us-desc .about-us-title {
        font-size: 13px;
    }

    .about .max-width .about-content .about-us .about-us-desc p {
        font-size: 7px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc {
        width: 53%;
    }

    .about
        .max-width
        .about-content
        .about-tea
        .about-tea-desc
        .about-tea-title {
        font-size: 13px;
    }

    .about .max-width .about-content .about-tea .about-tea-desc p {
        font-size: 7px;
    }

    #map {
        width: 70%;
        height: 220px;
    }
}

@media (max-height: 770px) {
    section {
        margin-bottom: 100px;
    }

    .contact {
        margin-bottom: 0;
    }
}

@media (max-height: 500px) {
    section {
        margin-bottom: 150px;
    }

    .contact {
        margin-bottom: 0;
    }
}

@media (max-height: 450px) {
    section {
        margin-bottom: 200px;
    }

    .navbar {
        margin-bottom: 100px;
    }

    .contact {
        margin-bottom: 0;
    }
}

@media (max-height: 320px) {
    section {
        margin-bottom: 250px;
    }

    .navbar {
        margin-bottom: 100px;
    }

    .contact {
        margin-bottom: 0;
    }
}

/* SLIDE IN */

.slide-module {
    opacity: 0;
    transition: all 0.3s ease;
}

.about-us {
    transform: translateX(50%);
}

.about-tea {
    transform: translateX(-50%);
}

.contact-content .column-left {
    transform: translateX(-100%);
}

.contact-content .column-right {
    transform: translateX(100%);
}

.slide-module.active {
    opacity: 1;
    transform: translateX(0);
}

/* __________________________ANIMATIONS___________________________________ */
@keyframes shake {
    0% {
    }

    25% {
        transform: rotateZ(2deg);
    }

    75% {
        transform: rotateZ(-2deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}
